<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Gaming Blog" alt=""></td>
        <td><a href="{{site.baseurl}}/2024/08/21/miniproject_IPYNB_2_.html#games">Games</a></td>
        <td><a href="{{site.baseurl}}/2024/08/21/miniproject_IPYNB_2_.html#tips">Tips & Tricks</a></td>
        <td><a href="{{site.baseurl}}/2024/08/21/miniproject_IPYNB_2_.html#mods">Mods</a></td>
        <td><a href="{{site.baseurl}}/2024/08/21/miniproject_IPYNB_2_.html#community">Community</a></td>
    </tr>
</table>