<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Gaming Blog" alt=""></td>
        <td><a href="{{site.baseurl}}/2024/08/21/miniproject_IPYNB_2_.html">Home</a></td>
        <td><a href="{{site.baseurl}}/2024/08/21/miniproject-games_IPYNB_2_.html">Games</a></td>
        <td><a href="{{site.baseurl}}/2024/08/21/miniproject-tips_IPYNB_2_.html">Tips & Tricks</a></td>
        <td><a href="{{site.baseurl}}/2024/08/21/miniproject-mods_IPYNB_2_.html">Mods</a></td>
        <td><a href="{{site.baseurl}}/2024/08/21/miniproject-community_IPYNB_2_.html">Community</a></td>
    </tr>
</table>